# compiled output
/node_modules
dist
# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
# environment
.env
.env*
# OS
.DS_Store
*.db*
data
# Tests
/coverage
/.nyc_output
migrations/*
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


#python
.venv
*.pyc
__pycache__/*
,jest
#file
*.xlsx